@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.5774 0.2091 273.8504);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8976 0.0042 271.3654);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.6867 0.0155 254.6429);
  --muted-foreground: oklch(0.5647 0.0118 261.7733);
  --accent: oklch(0.8976 0.0042 271.3654);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6318 0.2075 24.5694);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8976 0.0042 271.3654);
  --input: oklch(0.9640 0.0029 264.5419);
  --ring: oklch(0.5774 0.2091 273.8504);
  --chart-1: oklch(0.5774 0.2091 273.8504);
  --chart-2: oklch(0.6759 0.1886 42.0377);
  --chart-3: oklch(0.6432 0.1441 150.6980);
  --chart-4: oklch(0.6318 0.2075 24.5694);
  --chart-5: oklch(0.7891 0.1641 71.8423);
  --sidebar: oklch(0.9640 0.0029 264.5419);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.5774 0.2091 273.8504);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8976 0.0042 271.3654);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.8976 0.0042 271.3654);
  --sidebar-ring: oklch(0.5774 0.2091 273.8504);
  --font-sans: var(--font-primary, sans-serif);
  --font-serif: var(--font-clan-body, serif);
  --font-mono: var(--font-code, monospace);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 0px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 0px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 0px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 0px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 0px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 0px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 0px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: color-mix(in oklab,hsl(240 calc(1*7.692%) 5.098%/1) 100%,#000 0%);
  --foreground: color-mix(in oklab,hsl(240 calc(1*5.66%) 89.608%/1) 100%,#000 0%);
  --card: color-mix(in oklab,hsl(220 calc(1*7.317%) 8.039%/1) 100%,#000 0%);
  --card-foreground: color-mix(in oklab,hsl(240 calc(1*5.66%) 89.608%/1) 100%,#000 0%);
  --popover: color-mix(in oklab,hsl(220 calc(1*7.317%) 8.039%/1) 100%,#000 0%);
  --popover-foreground: color-mix(in oklab,hsl(240 calc(1*5.66%) 89.608%/1) 100%,#000 0%);
  --primary: hsl(234.935 calc(1*85.556%) 64.706%/1);
  --primary-foreground: hsl(0 calc(1*0%) 100%/1);
  --secondary: hsl(240 calc(1*4%) 60.784%/0.12156862745098039);
  --secondary-foreground: hsl(240 calc(1*5.263%) 92.549%/1);
  --muted: color-mix(in oklab,hsl(230 calc(1*6.383%) 18.431%/1) 100%,#000 0%);
  --muted-foreground: color-mix(in oklab,hsl(233.333 calc(1*3.83%) 53.922%/1) 100%,#000 0%);
  --accent: hsl(240 calc(1*4%) 60.784%/0.12156862745098039);
  --accent-foreground: color-mix(in oklab,hsl(240 calc(1*5.66%) 89.608%/1) 100%,#000 0%);
  --destructive: hsl(355.636 calc(1*64.706%) 50%/1);
  --destructive-foreground: hsl(0 calc(1*0%) 100%/1);
  --border: color-mix(in oklab,hsl(240 calc(1*4%) 60.784%/0.3215686274509804) 100%,hsl(0 0% 0%/0.3215686274509804) 0%);
  --input: color-mix(in oklab,hsl(220 calc(1*7.317%) 8.039%/1) 100%,#000 0%);
  --ring: color-mix(in oklab,hsl(213.333 calc(1*81.818%) 63.333%/1) 100%,#000 0%);
  --chart-1: hsl(234.935 calc(1*85.556%) 64.706%/1);
  --chart-2: hsl(134.526 calc(1*41.485%) 44.902%/1);
  --chart-3: hsl(33.684 calc(1*53.774%) 58.431%/1);
  --chart-4: hsl(357.692 calc(1*67.826%) 54.902%/1);
  --chart-5: color-mix(in oklab,hsl(315.669 calc(1*73.709%) 58.235%/1) 100%,#000 0%);
  --sidebar: color-mix(in oklab,hsl(240 calc(1*12.5%) 3.137%/1) 100%,#000 0%);
  --sidebar-foreground: color-mix(in oklab,hsl(233.333 calc(1*3.529%) 50%/1) 100%,#000 0%);
  --sidebar-primary: hsl(234.935 calc(1*85.556%) 64.706%/1);
  --sidebar-primary-foreground: hsl(0 calc(1*0%) 100%/1);
  --sidebar-accent: hsl(240 calc(1*4%) 60.784%/0.2);
  --sidebar-accent-foreground: color-mix(in oklab,hsl(240 calc(1*5.66%) 89.608%/1) 100%,#000 0%);
  --sidebar-border: color-mix(in oklab,hsl(240 calc(1*6.452%) 12.157%/1) 100%,#000 0%);
  --sidebar-ring: color-mix(in oklab,hsl(213.333 calc(1*81.818%) 63.333%/1) 100%,#000 0%);
  --font-sans: var(--font-primary, sans-serif);
  --font-serif: var(--font-clan-body, serif);
  --font-mono: var(--font-code, monospace);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 0px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 0px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 0px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 0px 10px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 0px 10px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 0px 10px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 0px 10px 0px hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
